{"interval": 1, "seed": 0, "laneChange": false, "dir": "records/0515_afternoon_Colight_3_3_bi/anon_3_3_300_0.3_bi.json_03_07_07_03_10/", "roadnetFile": "roadnet_3_3.json", "flowFile": "anon_3_3_300_0.3_bi.json", "rlTrafficLight": true, "saveReplay": true, "roadnetLogFile": "roadnetLogFile.json", "replayLogFile": "replayLogFile.txt"}